{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Elems</title>
{% endblock %}

{% block static_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'horoscope/css/sign_info.css' %}">
{% endblock %}

{% block content %}
    <h1>Список стихий</h1>
    <ul>
        {% for elem in elems %}
            <li><a href="{% url 'oneelem' elem.pk %}">{{ elem }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
