{% load static %}

<!DOCTYPE html>
<html>
<head>
   <title>{% block title %} Currency Converter {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'convector/css/index.css' %}">
</head>
<body>
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="number" name="amount" id="amount" placeholder="Введите количество валюты" required>
        </div>
        <div class="form-group">
            <label for="from_currency">Выберите валюту из которой переводить</label>
            <select name="from_currency" id="from_currency">
                {% for code, rate in currencies.items %}
                    <option value="{{ code }}">{{ code }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="to_currency">Выберите валюту в которую переводить</label>
            <select name="to_currency" id="to_currency">
                {% for code, rate in currencies.items %}
                    <option value="{{ code }}">{{ code }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Convert</button>
    </form>
    {% endblock %}
</body>
</html>

